#{extends 'main.html' /}
#{set title:'Результаты расчёта' /}

<p>
<h4>Введенные данные</h4>
Хозбытовые стоки после очистки (q):<b>${q}</b><br/>
Расход воды (Q):<b>${q_big}</b><br/>
Средняя глубина реки (R):<b>${r_big}</b><br/>
Средняя скорость течения (H):<b>${h_big}</b><br/>
Коэффициент шероховатости (n<sub>ш </sub>):<b>${n_sh}</b><br/>
Коэффициент извилистости (&#966;):<b>${phi}</b><br/>
К-т, завис. от места выпуска сточных вод (&#967;):<b>${chi}</b><br/>

<p>
<h4>Результаты:</h4>

*{y}*
Вектор показателей(концентраций веществ) (y):<b>${y} г/м<sup>3</sup></b><br/><br/>

*{Коэффициент Шези}*
#{if ifHLessThan5}
	Т.к. средняя скорость течения (H) <= 5, то коэффициент Шези опрделяется по формуле Павловского<br/>
#{/if}
Коэффициент Шези (C): <b>${c_big} м/с</b><br/><br/>

*{Условие}*
#{if condForFrRodz}
	Условие для применения метода Фролова-Родзиллера <b>выполняется </b>
#{/if}
#{else}
	Условие для применения метода Фролова-Родзиллера <b> НЕ выполняется </b>
#{/else}
(q/Q = ${qByQBig.format('##0.0000')})<br/><br/>

*{D}*
Коэффициент турбулентной диффузии: D = ${D.format('##0.0000')}
