@main("Расчет нормативов допустимых сбросов веществ"){
	<div class="span8 offset1 hero-unit">
		<h1>Расчет нормативов допустимых сбросов веществ</h1>
		<p>
			Программа предназначена для расчета нормативов допустимых сбросов веществ в водные объекты и автоматизации оформления соответствующей отчетной документации по государственным образцам. Расчет величин нормативов допустимых сбросов производится для отдельных выпусков сточных вод в водотоки согласно нормативным документам.<br>
			Программа реализует «Методику разработки нормативов допустимых сбросов веществ и микроорганизмов в водные объекты для водопользователей», утвержденную приказом Министерства природных ресурсов Российской Федерации от 17 декабря 2007 г. № 333 «Об утверждении методики разработки нормативов допустимых сбросов веществ и микроорганизмов в водные объекты для водопользователей».<br>
			Web-приложение может быть использовано широким кругом пользователей: проектные организации, контролирующие и лицензирующие организации, предприятия-водопользователи и т.д.
		</p>
		<p>
			<a class="btn btn-primary btn-large" href="@routes.Application.calculate()">
				Перейти к рассчёту
			</a>
		</p>
	</div>
}
